/* TODO: Make it awesome */

* {
  box-sizing: border-box;
}

body {
  color: whitesmoke;
}

header {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  height: 5rem;
  background-color: #52B2CC;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 3rem;
  align-items: center;
}

nav li {
  padding: 5px;
  margin: auto;
  font-family: 'Sanchez', serif;
}

nav li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  border: 1px solid #dddddd47;
  border-radius: 1rem;
  transition: 1s;
}

nav li a:hover {
  background-color:#FFC3BF;
  color: black;
}

h1 {
  padding: 10px;
  padding-top: 20px;
  font-size: 3rem;
  font-family: 'Neucha', cursive;
}

main {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}

img {
  width: 350px;
  height: 350px;
  border: 1rem solid transparent;
  transition: 0.5s;
}

img:hover {
  border: 1rem solid #CC5279;
  border-radius: 4px;
  cursor: pointer;
}

img:active {
  transform: scale(0.7);
}

section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: auto;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
  background-color: #0F7B99;
  font-family: 'Sanchez', serif;
}

#chart-section {
  margin-top: 1rem;
}
